body { background: #604c37; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-shipping-0 { color: #d537a7; font-size: 17px; margin-bottom: 5px; }
.block-auth-1 { color: #5d9ee7; font-size: 15px; margin-bottom: 5px; }
.block-cache-2 { color: #d518d5; font-size: 19px; margin-bottom: 5px; }
.block-uploader-3 { color: #c4fcae; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #6537be; font-size: 18px; margin-bottom: 5px; }
.block-cluster-5 { color: #b662c2; font-size: 12px; margin-bottom: 5px; }